.setup_navbar {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  border-radius: 10px;
}

.setup_page_link {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  display: inline-block;
  color: black;
  padding: 12px 28px;
  margin-right: 16px;
  border: 1px solid #475467;
  border-radius: 6px;
}

.setup_page_link.active {
  color: white;
  border: 1px solid #25D366;
  background-color: var(--Primary-Color);
}