.sidebar {
  width: 250px;
  max-height: 100vh;
}

.offcanvas_sidebar {
  width: 250px !important;
  height: 100vh !important;
}

.offcanvas_logo {
  width: 100%;
}

.offcanvas-body {
  padding: 0px;
}

@media (min-width: 768px) {
  .offcanvas-backdrop {
    display: none !important;
  }

  .offcanvas_sidebar {
    transform: none !important;
    visibility: visible !important;
    position: relative;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .offcanvas_sidebar.show {
    display: block;
  }

  .offcanvas-body {
    &::-webkit-scrollbar {
      width: 3px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #F0FDF4;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
  }

  .offcanvas_close_btn {
    display: none !important;
  }
}


.dropdown_item {
  list-style-type: none;
}

.dropdown_list {
  display: block;
  /* margin: 10px 0px; */

  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.dropdown_btn {
  color: var(--Secondary-Color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background-color: rgb(248, 248, 248); */
}

.dropdown_btn[aria-expanded="true"] {
  color: var(--Secondary-Color);
  background-color: #F0FDF4;
  border-left: 5px solid var(--Primary-Color);
}

.dropdown_icon {
  color: var(--Secondary-Color);
}

.dropdown_btn[aria-expanded="true"] .dropdown_icon {
  color: black;
  transform: rotate(180deg);
}

.dropdown_list_name {
  display: flex;
  align-items: center;
}

.dropdown_list_icon {
  margin-right: 10px;
  width: 20px;
}

.dropdown_link {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  width: 100%;
  padding: 5px 0px 5px 40px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--Secondary-Color);
    background-color: #F0FDF4;
    /* border-left: 5px solid var(--Primary-Color); */
  }
}