.jyGcZb {
  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d8f8e1;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.fxvrKk {
  color: #223039 !important;
  font-size: 16px !important;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;

}

.mHisf {
  background-color: #D7DFE9 !important;
}

.list-group-item {
  font-size: 14px;
}