.hjtZLM {
  &::-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #F0FDF4;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}