.form-label {
  color: var(--Colors-Slate-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form-control {
  padding: 11px 14px;
  border-radius: 6px;
  border: 1px solid #5E718D;
  background: #ffffff;
  color: var(--Colors-Slate-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form-select {
  padding: 11px 14px !important;
  border-radius: 6px;
  border: 1px solid #5E718D;
  color: var(--Colors-Slate-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  /* height: 50px; */
}

.form-check-label {
  color: #475467;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}



.page_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}

.add_action_btn {
  color: var(--Secondary-Color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.3px;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #475467;
}

.page_title_name {
  color: var(--Secondary-Color);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 0px;
}

.add_parson_box {
  background-color: white;
  padding: 56px 32px;
  border-radius: 18px;
}

.add_parson_title {
  color: var(--Secondary-Color);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  padding-bottom: 24px;
}

.add_person_close_btn {
  color: var(--Secondary-Color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.3px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #475467;
  background: white;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    border: 1px solid var(--Primary-Color);
    background-color: var(--Primary-Color);
  }
}

.add_person_submit_btn {
  color: var(--Secondary-Color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.3px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  color: white;
  border: 1px solid var(--Primary-Color);
  background-color: var(--Primary-Color);
  width: 100%;
  transition: all 0.3s ease-in-out;
}



/* Data Table */

.jyGcZb {
  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d8f8e1;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.fwQJth,
.mHisf {
  color: #223039 !important;
  font-size: 16px !important;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  background-color: #D7DFE9 !important;
}